div.image img[src="f16_bunny.png"]{ 
    width:1000px; 
}
div.image img[src="bunny.png"]{ 
    width:600px; 
}
div.image img[src="f16.png"]{ 
    width:600px; 
}
div.image img[src="NSF.png"]{ 
    width:200px; 
    text-align: left;
}

